In [12]:
first = "tyrese"
last = "kimaru"
school = "USIU"
country = "Kenya"
age = 20
skills  = ["HTML","CSS","R","Javascript"] #array

person_info = {
    'firstname':f'{first}', 
    'lastname':f'{last}', 
    'country':f'{country}',
    }

print(person_info)

print(len(f"{first}"))
print(len(f"{last}"))

#Declaring multiple Variables
first, last, school, age, skills = "Rein", "Idris", "STA", 12, "None"
print(first,last,school,age,skills)

{'firstname': 'tyrese', 'lastname': 'kimaru', 'country': 'Kenya'}
6
6
Rein Idris STA 12 None

Day 3

In [ ]:
print("Addition", 2+3)
print("Subtraction", 5-3)
print("Multiplication", 2*3)
print("Division", 6/3)
print("Modulo", 5%2)


print("complex numbers", 1 + 1j)
print('Multiplying complex number: ',(1 + 1j) * (1-1j))
print("floating numbers, PI", 3.14)

a = 3
b = 2

total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function try to avoid overriding builtin functions
print(total) # if you don't label your print with some string, you never know from where is  the result is coming
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)


radius = 10
area_of_circle = 3.14 * radius ** 2
print("Area of a circle", area_of_circle)

length = 10
width = 20
area_of_rectangle = length * width
print("Area of a rectangle", area_of_rectangle)


True and True
False and False
print(not True)
print(not False)
print(not not False)
print(not not True)

Addition 5
Subtraction 2
Multiplication 6
Division 2.0
Modulo 1
complex numbers (1+1j)
Multiplying complex number:  (2+0j)
floating numbers, PI 3.14
5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9
Area of a circle 314.0
Area of a rectangle 200
False
True
False
True

:

Day 9 - Conditionals

In [ ]:
a = 3
#If contion is true the first block will be executed, if not the else conditon will run
if a > 0:
    print("A is a positive number")
else:
    print("Not")


#Use elif if we have multiple conditons
a = 0
if a > 0:
    print("A is a positive number")
elif a < 0:
    print("A is a negative number")
else:
    print("A is zero")

#Example 2
a = 5
if a > 0:
    if a % 2 == 0:
        print("A is a positive and even integer")
    else:
        print("A is a positive number")
elif a == 0:
    print("A is zero")
else:
    print("A is a negative numbers")


#Example3
a = 0
if a > 0 and a % 2 == 0:
    print("A is an even and positive number")
elif a > 0 and a % 2 != 0:
    print("A is a positive integer")
elif a == 0:
    print("A is zero")
else:
    print("A is a negative number")


#If and OR Logical Operators
user = "james"
access_level = 3
if user == "admin" or access_level >= 4:
    print("Access granted!")
else:
    print("Access Denied")

A is a positive number
A is zero
A is a positive number
A is zero
Access Denied

:

In [ ]:
#Homework1
Age = int(input("Enter your age: "))
wait = 18 - Age
print(wait)

if Age >= 18:
    print("Your old enough to drive")
elif Age == 17:
    print(f"You need {wait} more year to drive.")
else:
    print(f"You need {wait} more years to learn to drive.")

In [ ]:
#Homework 2
myage = int(input("My age: "))
yourage = int(input("Enter your age: "))

both = myage,yourage
if myage <= 0 or yourage <=0:
    print("Why")
else:
    if myage > yourage:
        print("I'm older")
    elif myage == yourage and yourage == myage:
        print("Twining")
    elif myage < yourage:
        print("You are older")



print(both)

In [ ]:

#Homework 3
a = int(input("Enter a num: "))
b = int(input("Enter b num: "))

if a > b :
    print("a > b")
elif a == b and b == a:
    print("Equal")
else:
    print("b > a")

In [ ]:
#Homework4
month = input("Enter a month")
month = month.capitalize()

Autumn = ["September","October","November"]
Winter = ["December","January","February"]
Spring = ["March","April","May"]
Summer = ["June","July","August"]

if month in ["September","October","November"]:
    print("Autumn")
elif month in ["December","January","February"]:
    print("Winter")
elif month in ["March","April","May"]:
    print("Spring")
elif month in ["June","July","August"]:
    print("Summer")

else:
    print("Invalid month")

In [ ]:
person= {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}

#Checking if skills key exists and print the middle skill
if "skills" in person:
    skills = person["skills"]
    middle_index = len(skills) // 2
    print("Middle skill:", skills[middle_index])

#Checking if he Python skill in resume
if "Python" in person["skills"]:   
    print("He has python Skill")
else:
        print("doesnt")

#Checking if he as React and JavaScript
if "skills" in person:
    if "React" in person["skills"] and "JavaScript" in person["skills"]:
        print("Front end developer")

if person.get("is_marred") and person.get("country") == "Finland":
    full_name = person["first_name"] + " " + person["last_name"]
    country = person["country"]
    print(f"{full_name} lives in {country}. He is married.")

Day 10 - Loops

In [76]:
# count = 0
while count < 5:
    print(count)
    count = count + 1


# #Break to stop the loop
#The above while loop only prints 0, 1, 2, but when it reaches 3 it stops.
count = 0
while count < 5:
    print(count)
    count = count + 1

    if count == 3:
        break


#While 
#Continue: With the continue statement we can skip the current iteration, and continue with the next:
count = 0
while count < 5:
    if count == 3:
        count = count + 1
        continue
    print(count)
    count = count + 1



#While - use when you don't know how many times to repeat, it runs as long the condition is true
#For - use when you know how many times to repeat, best for iterating through a seq like a list of string, range or dict

numbers = [0,1,2,3,4,5]
for number in numbers:
    print(number)

#for loop in string
language = "python"
for letter in language:
    print(letter)

for i in range(len(language)):
    print(language[i])

#For loop in a tuple
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)

#for loop with dictionary

person  = {
    "firstname:": "Tyrese",
    "Age:": 12,
    "Uni:": "USIU",
    "Course:": "Data Science"
}

# Printing the Key alone without the value
for key in person:
    print(key)

# Pritning for both the key and value
for key, value in person.items():
    print(key,value)



# #Loops in set
companies = {"Facebook","Google","amazon","Apple"}
for company in companies:
    print(company)


numbers = (0,1,2,3,4,5)

for number in numbers:
    print(number)
    if number  ==  3:
        break

for number in numbers:
    if number == 3:
        continue
    print(number)


#Sequence in a list created
lst = list(range(2,14,2))
print(lst)

#Sequence in a set created
st = set(range(0,12,2))
print(st)


#all numbers in range 0-11 but not including 11
for x in range(11):
    print(x)

#loop inside a loop
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}

for key in person:
    if key == "skills":
        for skill in person["skills"]:
            print(skill)

for iteration in range(0,12,2):
    print("iteration:", iteration)
else:
    print("loop over")


for number in range(11):
    print(number)
else:
    print("loop is over")

0
1
2
0
1
2
4
0
1
2
3
4
5
p
y
t
h
o
n
p
y
t
h
o
n
0
1
2
3
4
5
firstname:
Age:
Uni:
Course:
firstname: Tyrese
Age: 12
Uni: USIU
Course: Data Science
Facebook
amazon
Google
Apple
0
1
2
3
0
1
2
4
5
[2, 4, 6, 8, 10, 12]
{0, 2, 4, 6, 8, 10}
0
1
2
3
4
5
6
7
8
9
10
JavaScript
React
Node
MongoDB
Python
iteration: 0
iteration: 2
iteration: 4
iteration: 6
iteration: 8
iteration: 10
loop over
0
1
2
3
4
5
6
7
8
9
10
loop is over

In [75]:
#Homework

number = 0
while number < 10:
    number += 1
else:
    print("loop over")

loop over

In [ ]:
#Homework
number = 0
while number < 5:
    print(number)
    number += 1

print(number)

# Less than 10 to  0
numbers = 10
while numbers > 0:
    print(numbers)
    numbers -= 1
print(numbers)

#using range
for num in range (10, -1, -1):
    print(num)

for i in range(1,8):
    print("#" * i)

row
for row in range(8):
    print("# " * 8)


for num in numbers:
    num *= num
    print(num)
print(num)

for num in range(11):
    print(f"{num} * {num} = {num * num}")

for num in range(101):
    if num % 2 == 0:
        print(f"{num} - even number")
    else:
        print(f"{num} odd numbers")

total = 0
for num in range(101):
    total += num
    print(total)
total = 0

for num in range(101):
    if num % 2 == 0:
        total +=num
        totalodd = 0
for num in range(101):
    if num % 2 == 1:
        totalodd += num

print(total, totalodd)
print(total + totalodd)


countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];


for country in countries:
    if "land" in country.lower():
        print(country)

Day 10 Functions

In [ ]:
#When we make a function, we call it declaring a function.
#When we start using the it, we call it calling or invoking a function. Function can be declared with or without parameters.

def function_name():
    first_name = "Tyrese"
    last_name = "Kimaru"
    space = " "
    full_name = first_name + space + last_name
    print(full_name)
function_name()

def function_add():
    num_one = 1
    num_two = 2
    total = num_one + num_two
    print(total)
function_add()


#Function in python can return values using the return statement
#if a function doesn't use return, it automaticall returns non
#From now on, we rewrite functions to return values, so we can store or print the result when we call them.

def function_name2():
    first_name = "Tyrese"
    last_name = "Kimaru"
    space = " "
    full_name = first_name + space + last_name
    return full_name
function_name2()

def function_add2():
    num_one = 1
    num_two = 2
    total = num_one + num_two
    return total
function_add2()

#Use return, when you need to use value later, Store,combine or manipulate data
#print() just to show something, testing n debuggin, no need to save the output
# If our function takes a parameter we should call our function with an argument
#We can pass different data types(number, string, boolean, list, tuple, dictionary or set)
#A function can have no parameters, one, or multiple.
#If a function has parameters, you must call it with matching arguments.
#This makes functions flexible and reusable.

def greet(name):
    return f"Hello, {name}!"
print(greet("Ali"))
print(greet("Charles"))

def add (a,b):
    return a + b
print(add(2,3))
print(add(100,200))

def calculate_area(len,width):
    return len*width
print(calculate_area(2,3))

def area_of_circle(r):
    PI = 3.14
    area = PI * r **2
    return area_of_circle
print(area_of_circle(20))


def sum_of_numbers(n):
    total = 0
    for i in range(n+1):
        total += 1
    print(total)
print(sum_of_numbers(20))



def generate_fullname(first_name, last_name):
    space = " "
    return first_name + space + last_name

print("Fullname: ", generate_fullname("Tyrese","Kimaru"))


def calculate_age(current_year, birth_year):
    age = current_year - birth_year
    return age
print("Age: ", calculate_age(2025,2002))


def weight_of_obj(mass, gravity):
    weight = str(mass * gravity) + "N"
    return weight

print(weight_of_obj(100,9.81))


#If we pass the arguments with key and value, the order of the arguments does not matter.
def print_fullname (first,last):
    space = " "
    name = first + space + last
    return(name)
print(print_fullname("Tyrese","Rein"))










#Returning a string

def name (firstname):
    return firstname
print(name("Tyrese"))


#Returning a number
def num(num,num2):
    total = num + num2
    return total
print(num(1,2))


#Returning a boolean
def is_even(n):
    if n % 2 == 0:
        print("even")
        return True
    return False
print(is_even(10))
print(is_even(7))


#Returning a list
def find_even_numbers(n):
    evens = []
    for i in range(n + 1):
        if i % 2 == 0:
            evens.append(i)
    return evens
print(find_even_numbers(10))


#Arbitrary numbers of argumenets
#It means a function can accept any number of values, not just one or two — it could be zero, one, five, or even 100 values.
#using args

def sumofall (*nums):
    total = 0
    for num in nums:
        total += num
    return total
print(sumofall(2, 3, 5))


def groups (team, *args):
    print(team)
    for i in args:
        print(i)
print(groups("Team -1","rein","brook","monk"))

Tyrese Kimaru
3
Hello, Ali!
Hello, Charles!
5
300
6
<function area_of_circle at 0x000001BE7A215C60>
21
None
Fullname:  Tyrese Kimaru
Age:  23
981.0N
Tyrese Rein
Tyrese
3
even
True
False
[0, 2, 4, 6, 8, 10]
10

In [ ]:
#Homework 1
def add_two():
    a = int(input("Enter a number: "))
    b = int(input("Enter a number: "))
    sum = a + b
    return sum
print(add_two())

# Or

def add_two(a,b):
    sum = a+b
    return sum
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
print(add_two(a,b))

2

In [22]:
#Homework 2
def area_of_circle():
    PI = 3.14
    radius = float(input("Enter a number: ")) ** 2
    area = PI * (radius)
    return area

print(area_of_circle())

#Homework 3

def add_all_nums (*args):
    total = 0
    for num in args:
        if type(num) != int and type(num) != float:
            return "All inputs must be numbers!"
        total = total + num
    return total

print(add_all_nums(1,2,3))

12.56
6

In [ ]:
def multiply_all_nums(*args):
    total = 10
    for num in args:
        if type(num) != int and type(num) != float:
            return "All inputs must be numbers"
        total = total * num
    return total
print(multiply_all_nums(2,2,2))


#Homework 4
def temp_converter():
    choice = input("Type 'C' to convert Celsius to Fahrenheit, or 'F' to convert Fahrenheit to Celsius: ")

    if choice == "C" or choice == "c":
        temperature = float(input("Enter a temperature in Celsius: "))
        fahrenheit = (temperature * 9/5) + 32
        return f"{temperature}C is {fahrenheit}F"
    elif choice == "F" or choice == "f":
        temperature = float(input("Enter a temperature in Fahrenheit: "))
        celsius = (temperature - 32) * 5/9
        return f"{temperature}F is {celsius}C"
    else:
        return "Invalid choice! Please type 'C' or 'F'. "

print(temp_converter())

2.0C is 35.6F

In [ ]:
def check_seasons("July"):
    month = str(input("Enter a month: "))

Day 12 - Modules

In [ ]:
#A module is a file containing a set of codes or a set of functions which can be included to an application. 
#A module could be a file containing a single variable, a function or a big code base.

# def full_name(first,last):
#     return first + "" + last

#Day 12 had to do via pycharm

ModuleNotFoundError: No module named 'mymodule'

Day 13 - List Comprehension

In [ ]:
language = "python"
lst = [i for i in language]
print(type(lst))


#Generating numbers
number = [i for i in range(10)]
squares = [i*i for i in range(10)]

#Making a list of tuples
n2 = [(i,i*i) for i in range (11)]



#generating even numbers

even = [i for i in range(20) if i % 2 == 0 ]
odd = [i for i in range(20) if i % 2 == 1]

numbers = [-8, -7, -3, -1, 0, 1, 3, 4, 5, 7, 6, 8, 10]
positive_even = [i for i in numbers if i % 2 == 0 and i > 0 ]
print(positive_even)
print(odd)
print(even)
print(n2)
print(squares)
print(number)


#Flattening 3D array
list_of_list = [[1,2,3],[4,5,6],[7,8,9]]
flatten_list = [number for row in list_of_list for number in row]

print(list_of_list)
print(flatten_list)

<class 'list'>
[4, 6, 8, 10]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def add_two (a,b):
    return a + b
print(add_two(1,2))

add_two = lambda a, b: a+b
print(add_two(2,3))

(lambda a, b: a + b)(2,3)

square = lambda x : x ** 2
print(square(2))
cube = lambda x : x ** 3
print(cube(2))


#Multiple variables
multiple = lambda a,b,c: a ** 2-3*b + 4* c
print(multiple(5,5,3))


def power(x):
    return lambda n : x ** n

cube = power(2)(3)
print(cube)

3
5
4
8
22
8

In [68]:
#Homework
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
odd_neg = [i for i in numbers if i <= 0]
print(odd_neg)

list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]
for outer in list_of_list:
    print(outer)

result = [(x, 1, x, x**2, x**3, x**4, x**5) for x in range(11)]
print(result)

countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
flatten = [item for sublist in countries for item in sublist]
print(flatten)


names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
fullname = [f"{first} {last}" for sublist in names for (first,last) in sublist]
print(fullname)

[-4, -3, -2, -1, 0]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[(0, 1, 0, 0, 0, 0, 0), (1, 1, 1, 1, 1, 1, 1), (2, 1, 2, 4, 8, 16, 32), (3, 1, 3, 9, 27, 81, 243), (4, 1, 4, 16, 64, 256, 1024), (5, 1, 5, 25, 125, 625, 3125), (6, 1, 6, 36, 216, 1296, 7776), (7, 1, 7, 49, 343, 2401, 16807), (8, 1, 8, 64, 512, 4096, 32768), (9, 1, 9, 81, 729, 6561, 59049), (10, 1, 10, 100, 1000, 10000, 100000)]
[('Finland', 'Helsinki'), ('Sweden', 'Stockholm'), ('Norway', 'Oslo')]
['Asabeneh Yetayeh', 'David Smith', 'Donald Trump', 'Bill Gates']

Day 14

In [ ]:
def sum_numbers(nums):
    return sum(nums)

def higherorder (f, l):
    summation = f(l)
    return summation

result = higherorder(sum_numbers,  [1,2,3])
print(result)


#Project 2
def square(x):
    return x ** 2

def cube(x):
    return x ** 3

def absolute(x):
    if x >= 0:
        return x
    else:
        return -(x)
    

def order(type):
    if type == "square":
        return square
    elif type == "cube":
        return cube
    elif type == "absolute":
        return absolute
    
    
result = order('square')
print(result(3))       # 9
result = order('cube')
print(result(3))       # 27
result = order('absolute')
print(result(-3))

6
9
27
3

In [18]:
def addten():
    ten = 10
    def add(num):
        return num + ten
    return add

closeresult = addten()
print(closeresult(2))
print(closeresult(3))

12
13

Day 16 - DateTime

In [17]:
from datetime import datetime

now = datetime.now()
day = now.day
month = now.month
year = now.year
hour = now.hour
minute = now.minute
second = now.second
print(now)
print(day)
print(month)
print(year)
print(hour) 
print(minute)
print(second)

timestamp = now.timestamp()
print("Timestamp:", timestamp)
print(day, month, year, hour, minute, second)
print(f"{day}/{month}/{year} {hour}:{minute}:{second}")

2025-07-22 14:41:30.970723
22
7
2025
14
41
30
Timestamp: 1753184490.970723
22 7 2025 14 41 30
22/7/2025 14:41:30

In [34]:
from datetime import datetime
now = datetime.now()
t = now.strftime("%Y-%m-%d %H:%M:%S")
timetwo = now.strftime("%d/%m/%Y %H:%M:%S")
print(timetwo)
print(t)

22/07/2025 14:43:16
2025-07-22 14:43:16

In [50]:
from datetime import datetime
from datetime import timedelta, date
from datetime import time
D1 = datetime(2023, 1, 1)
today = datetime.now()



print(D1)
print(today)

a = time()
print("a =", a)
# time(hour, minute and second)
b = time(10, 30, 50)
print("b =", b)
# time(hour, minute and second)
c = time(hour=10, minute=30, second=50)
print("c =", c)
# time(hour, minute, second, microsecond)
d = time(10, 30, 50, 200555)
print("d =", d)


today = date(year=2019, month=12, day=5)
new_year = date(year=2020, month=1, day=1)
time_left_for_newyear = new_year - today
# Time left for new year:  27 days, 0:00:00
print('Time left for new year: ', time_left_for_newyear)

t1 = datetime(year = 2019, month = 12, day = 5, hour = 0, minute = 59, second = 0)
t2 = datetime(year = 2020, month = 1, day = 1, hour = 0, minute = 0, second = 0)
diff = t2 - t1
print('Time left for new year:', diff)

from datetime import timedelta
t1 = timedelta(weeks=12, days=10, hours=4, seconds=20)
t2 = timedelta(days=7, hours=5, minutes=3, seconds=30)
t3 = t1 - t2
print("t3 =", t3)

2023-01-01 00:00:00
2025-07-22 14:47:39.562632
a = 00:00:00
b = 10:30:50
c = 10:30:50
d = 10:30:50.200555
Time left for new year:  27 days, 0:00:00
Time left for new year: 26 days, 23:01:00
t3 = 86 days, 22:56:50

Day 17 - Exception Handling

In [ ]:
try:
    print(10+"5")
except:
    print("something went wrong")


try:
    name = input("enter your name: ")
    year_born = int(input("Year you were born: "))
    age = 2025-year_born
    print(f"Your {name} and your age is {age}.")
except:
    print("something went wrong")



"""Wrong input for int() =  ValueError
number in name no error
Str + int Typ Error
Div / 0 to trigger zero division error"""
try:
    name = input("enter your name: ")
    year_born = int(input("Year you were born: "))
    age = 2025-year_born
    print(f"Your {name} and your age is {age}.")
except TypeError:
    print("Type Error")
except ValueError:
    print("Value Error")
except ZeroDivisionError:
    print("Zero division Error")

something went wrong
something went wrong
Value Error
invalid literal for int() with base 10: 'w'

In [13]:
"This will print the actual error message if anything goes wrong"
"whether it's valueError, TypeError or ZeroDivisionError"

try:
    name = input('Enter your name:')
    year_born = input('Year you born:')
    age = 2019 - int(year_born)
    print(f'You are {name}. And your age is {age}.')
except Exception as e:
    print(e)

invalid literal for int() with base 10: 'ty'

In [21]:
def sum_of_five_nums(a, b, c, d, e):
    return a + b + c + d + e

lst = [1, 2, 3, 4, 5]
print(sum_of_five_nums(*lst)) #

15

In [31]:
number = range(2,7)
#add list in order to list to see the 2,3,4,5,6
print(list(number))


args = [2,7]
num = range(*args)
print(num)
print(list(num))

[2, 3, 4, 5, 6]
range(2, 7)
[2, 3, 4, 5, 6]

In [38]:
countries = ['Finland', 'Sweden', 'Norway', 'Denmark', 'Iceland']
fin, sw, nor, *rest = countries

print(fin, sw, nor, rest)
number = [1,2,3,4,5,6,7]
one, *middle, last = number
print(one, middle, last)

Finland Sweden Norway ['Denmark', 'Iceland']
1 [2, 3, 4, 5, 6] 7

In [41]:
def unpackperso(name, country, city, age):
    return f"{name} lives in {country}, {city}. He is {age} years old" 

dct = {"name":"Rein",
       "country":"India",
       "city":"delhi",
       "age":12}

print(unpackperso(**dct))

Rein lives in India, delhi. He is 12 years old

In [ ]:
def sum(*args):
    s = 0 
    for i in args:
        s += i
    return s
    
print(sum(1,2,3))

#Packing
#Spreading


lst_one = [1, 2, 3]
lst_two = [4, 5, 6, 7]
lst = [0, *lst_one, *lst_two]
print(lst)          # [0, 1, 2, 3, 4, 5, 6, 7]
country_lst_one = ['Finland', 'Sweden', 'Norway']
country_lst_two = ['Denmark', 'Iceland']
nordic_countries = [*country_lst_one, *country_lst_two]
print(nordic_countries)

6
[0, 1, 2, 3, 4, 5, 6, 7]
['Finland', 'Sweden', 'Norway', 'Denmark', 'Iceland']

In [47]:
for index, item in enumerate([20,30,40]):
    print(index,item)

0 20
1 30
2 40

In [51]:
for index, i in enumerate(countries):
    print('hi')
    if i == 'Finland':
        print('The country {i} has been found at index {index}')

hi
The country {i} has been found at index {index}
hi
hi
hi
hi

In [52]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'lime']                    
vegetables = ['Tomato', 'Potato', 'Cabbage','Onion', 'Carrot']
fruits_and_veges = []
for f, v in zip(fruits, vegetables):
    fruits_and_veges.append({'fruit':f, 'veg':v})

print(fruits_and_veges)

[{'fruit': 'banana', 'veg': 'Tomato'}, {'fruit': 'orange', 'veg': 'Potato'}, {'fruit': 'mango', 'veg': 'Cabbage'}, {'fruit': 'lemon', 'veg': 'Onion'}, {'fruit': 'lime', 'veg': 'Carrot'}]